Source: seeks
Section: web
Priority: extra
Maintainer: Mehdi ABAAKOUK <theli48@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, autoconf, libxml2-dev, libpcre3-dev, libcurl3-dev, docbook2x, libtool, libevent-dev, libprotobuf-dev, protobuf-compiler, libcv-dev, libcvaux-dev, libhighgui-dev, libtokyocabinet-dev,libtokyotyrant-dev, libicu-dev, doxygen, libgtest-dev
Standards-Version: 3.9.2
Homepage: http://www.seeks-project.info/

Package: seeks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Conflicts: seeks-experimental
Description: Extensible websearch proxy & meta-search engine with personalized ranking
 Seeks is an open source:
    * websearch proxy and meta-search engine,
    * real-time p2p pattern matching network for social websearch. 
 .
 Seeks is a free and open technical design and application for 
 enabling social websearch. Its specific purpose is to regroup users whose 
 queries are similar so they can share both the query results and their 
 experience on these results. On this basis, Seeks allows for true real-time,
 decentralized, websearch to emerge. In the long term, there is no need for
 web crawlers and third-party web indexes.
